.pad-40 {
  padding: 40px;
  }
.border {
  border: 2px solid black;
}
.yellow {
  background-color: yellow;
}
.blue {
  height:200px;
  background-color: blue;
}
.green {
  background-color: green;
}
.red {
  height: 350px;
  background-color: red;
}
.turquoise {
  height: 350px;
  background-color: turquoise;
}
.orange{
  height: 200px;
  background-color: orange;
}
.black {
  background-color: black;
}
